:root {
--font-stack: "Helvetica";
--text-color: #fff;
--text-color-secondary: #a6a6a6;
--body-bg-color: #271b31;
--bg-color: #111;
--bg-color-secondary: #1d1d1d;
--container-border-radius: 10px;
--card-border-radius: 5px;
--gradient: linear-gradient(90deg, rgba(250,82,82,1) 0%, rgba(221,36,118,1) 100%);
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--font-stack);
    color: var(--text-color);
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: var(--body-bg-color);
}

.container {
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    margin: 50px;
    padding: 50px;
    max-width: 500px;
    border-radius: var(--container-border-radius);
    align-items: center;
    justify-content: center;
}

img {
    height: 300px;
    border-radius: 50%;
    padding-bottom: 20px;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
.social_links a {
    display: flex;
    margin-top: 20px;
    height: 50px;
    width: 300px;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    background: var(--gradient);
    border-radius: 50px;
}

.social_links a i {
    padding-left: 50%;
}

footer a i {
    margin: 20px;
    margin-left: 25px;
    font-size: x-large;
    padding: 20px;
    background: var(--gradient);
    height: 65px;
    width: 65px;
    border-radius: 50%;
}